//ESTILADO DE LA TABLA

<p-table
  #dt1
  [value]="filteredProducts"
  stripedRows
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]"
  [globalFilterFields]="['code', 'name', 'category', 'quantity']"
>
  <ng-template #caption>
    <div style="display: flex; align-items: center; gap: 1rem">
      <p-button
        label="Clear"
        [outlined]="true"
        (click)="clear(dt1)"
      />
      <p-select
        [options]="inventoryStatusOptions"
        [(ngModel)]="selectedInventoryStatus"
        placeholder="Select Inventory Status"
        (onChange)="filterTable()"
      />
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          [(ngModel)]="searchValue"
          pInputText
          type="text"
          (input)="dt1.filterGlobal($any($event).target.value!, 'contains')"
          placeholder="Search keyword"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="code">Code <p-sortIcon field="code" /></th>
      <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
      <th pSortableColumn="category">
        Category <p-sortIcon field="category" />
      </th>
      <th pSortableColumn="quantity">
        Quantity <p-sortIcon field="quantity" />
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
</p-table>
